.main-content{
  margin-left:260px;
  padding:25px;
  background:#f1f5f9;
  min-height:100vh;
}

.page-title{
  font-size:24px;
  margin-bottom:20px;
}

.task-form{
  background:white;
  padding:15px;
  border-radius:6px;
  margin-bottom:20px;
}

.task-form input{
  padding:8px;
  margin-right:10px;
  border:1px solid #ccc;
  border-radius:4px;
}

.task-form button{
  padding:8px 14px;
  background:#2563eb;
  border:none;
  color:white;
  border-radius:4px;
}

.task-table{
  background:white;
  border-radius:6px;
  overflow:hidden;
}

.task-table table{
  width:100%;
  border-collapse:collapse;
}

.task-table th,
.task-table td{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #ddd;
}

.task-table th{
  background:#1e293b;
  color:white;
}

.delete-btn{
  padding:6px 10px;
  background:#ef4444;
  border:none;
  color:white;
  border-radius:4px;
}

.edit-btn{
  padding:6px 10px;
  background:#02b44c;
  border:none;
  color:white;
  border-radius:4px;
}