.main-content{
  margin-left:260px;
  padding:25px;
  background:#f1f5f9;
  min-height:100vh;
}

.page-title{
  font-size:24px;
  margin-bottom:20px;
}

/* document container */
.documents-box{
  background:white;
  padding:20px;
  border-radius:6px;
  margin-top:15px;
}

/* document list */
.documents-box ul{
  list-style:none;
  padding:0;
}

.documents-box li{
  padding:10px;
  border-bottom:1px solid #ddd;
}

.documents-box li:hover{
  background:#f8fafc;
  cursor:pointer;
}